[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "themes/themes/hugo-primer-blog"]
	path = themes/themes/hugo-primer-blog
	url = https://github.com/ngs/hugo-primer-blog.git
