<footer class="site-footer border-top mt-6" role="contentinfo">
  <div class="container-xl px-3 px-md-4 px-lg-5">
    <div class="site-footer-main text-center">
      <p class="site-footer-copyright color-fg-muted mb-0">
        {{- $owner := site.Params.author | default site.Params.aboutName | default site.Title -}}
        {{- $copyrightLinks := site.Params.copyrightLinks -}}
        {{- if $copyrightLinks -}}
          &copy; {{ now.Year }} {{ $owner }}. {{ i18n "allRightsReserved" | default "All rights reserved" }}.&nbsp;&nbsp;{{ $copyrightLinks | markdownify }}
        {{- else -}}
          &copy; {{ now.Year }} {{ $owner }}. {{ i18n "allRightsReserved" | default "All rights reserved" }}.
        {{- end -}}
      </p>
    </div>
  </div>
</footer>
